@import 'bourbon/bourbon';
@import 'neat/neat';

body {
  background: #FFE0B2;
  font-family: 'Helvetica Neue';
  width: 100%;
  margin: 0;
}

header, footer {
  width: 100%;
  background: #FFE0B2;
  text-align: center;
  position: fixed;
}

header {
  height: 100px;
  top: 0;
}

footer {
  height: 50px;
  bottom: 0;
  padding: 20px;
}

a {
  font-weight: bold;
  padding: 10px;
  color: black;
  text-decoration: none;
  &:hover {
    color: #DE939A;
  }
}

main {
  width: 100%;
  margin: 100px 0 50px;
  @include outer-container();
}

article {
  h2 {
    display: none;
  }
  height: 500px;
  @include span-columns(12);
  @include omega();
  @include media (1000px) {
    @include row (table);
    @include span-columns(6, block-collapse);

  }
}


@for $i from 1 through 8 {
  #img#{$i} {
    background-image: url('../img/#{$i}.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
