@import 'vendor/bourbon/bourbon';
@import 'vendor/neat/neat';
@import 'base/_variables';
@import 'base/_globals';

article {
  h2 {
    display: none;
    padding: 10px;
  }
  height: 300px;
  @include span-columns(12);
  @include omega();
  @include media (800px) {
    height: 500px;
    @include row (table);
    @include span-columns(6, block-collapse);
  }
  &:hover {
    h2 {
      margin: 0;
      display: block;
      text-align: center;
      font-size: 3em;
      color: $color-title;
      border: 8px solid $color-title;
      @include media (800px) {
        font-size: 4em;
        border: 10px solid $color-title;
      }
    }
  }
}

@for $i from 1 through 8 {
  #img#{$i} {
    background-image: url('../img/#{$i}.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover::after {
      opacity: 0.9;
    }
  }
}
