@import 'vendor/bourbon/bourbon';
@import 'vendor/neat/neat';
@import 'base/_variables';
@import 'base/_globals';
@import 'base/_mixins';

main {
  @include outer-container;
  p {
    border-bottom: none;
    padding: 20px;
    @include media(800px) {
      font-size: 1.1rem;
      padding: 40px;
      border-bottom: 2px solid black;
    }
  }
}


@include main-img('../../img/acrnm/ss.jpg', acrnm, 400px);
@include main-img('../../img/alexander/hole3.jpg', alexander, 450px);
@include main-img('../../img/ines/smoke.jpg', ines, 450px);
@include main-img('../../img/carl/wood.jpg', carl, 300px);
@include main-img('../../img/grimes/grimez.jpg', grimes, 280px);
@include main-img('../../img/azamat/door.jpg', azamat, 650px);
@include main-img('../../img/turrell/turnt.jpg', turrell, 400px);
@include main-img('../../img/bernini/o.jpg', bernini, 500px);

.col {
  height: 100%;
  width: 100%;
  @include span-columns(12);
  @include omega(n);
  @include media (800px) {
    @include omega();
    @include span-columns(4, block-collapse);
  }
  img {
    width: 100%;
    margin-bottom: -4px;
  }
}

.col2 {
  height: 100%;
  width: 100%;
  height: 100%;
  width: 100%;
  @include span-columns(12);
  @include omega(n);
  @include media (800px) {
    @include omega();
    @include span-columns(6, block-collapse);
  }
  img {
    width: 100%;
    margin-bottom: -4px;
  }
}


#bag {
  margin-top: 300px;
}

// img:nth-cild(1) {
//   @include span-columns(4);
// }
