//Mixins

@mixin main-img ($url, $id, $h2-width) {
  section##{$id} {
    margin-bottom: 50px;
    height: 500px;
    @include span-columns(12);
    background: url($url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      width: $h2-width;
      text-align: center;
      font-size: 4em;
      color: $color-title;
      border: 10px solid $color-title;
      padding: 10px;
    }
  }
}
